* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
	height: 100vh;
	display: block;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
  }
  nav {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  nav .logo {
    margin: 6px;
    cursor: pointer;
  }
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
    }
  }
form {
	display: inline-block;
}
.container {
	background-color: white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	padding: 30px 40px;
	width: 375px;
	border-radius: 10px;
}
h2 {
	text-align: center;
	position: relative;
}
h2:after {
	display: block;
	content: "";
	height: 3px;
	width: 100px;
	position: absolute;
	background-color: orange;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 4px;
}
.form {
	margin-top: 40px;
}
.form-item {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.form .form-item label {
	display: block;
	margin: 5px;
}
.form-item input {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	border: 2px solid lightred;
	transition: 400ms;
}
.form-item input:focus {
	border-color: skyblue;
}
button {
	background-color: orange;
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 50px;
	font-size: 1rem;
	transition: all 1s;
}
button:hover {
	background-color: black;
	color: white;
}
span {
	color: red;
	margin-left: 10px;
	visibility: hidden;
}
.form-item.pass input {
	border-color: lightgreen;
}
.form-item.fail input {
	border-color: red;
}

/*to make span tag visible when user gets error*/
.form-item.fail span {
	visibility: visible;
}
.display-pass {
	position: absolute;
	top: -10%;
	background-color: lightgreen;
	width: 80%;
	z-index: 073;
	padding: 10px;
	padding-left: 10%;
	transition: 1s;
}
.